.icone1 {
    background-image: url(../../img/Mobile/Ícones/x-diamond.png);
}

.icone2 {
    background-image: url(../../img/Mobile/Ícones/arrow-repeat.png);
}

.icone3 {
    background-image: url(../../img/Mobile/Ícones/flower.png);
}

@media screen and (min-width: 768px) {
    .icone1 {
        background-image: url(../../img/Tablet/Ícones/x-diamond.png);
    }
    
    .icone2 {
        background-image: url(../../img/Tablet/Ícones/arrow-repeat.png);
    }
    
    .icone3 {
        background-image: url(../../img/Tablet/Ícones/flower.png);
    }
}